<div class="flex justify-content-center align-content-center flex-wrap h-screen">
    <p-card header="Login" class="w-12 md:w-8 lg:w-4">
        <div class="m-0">
            <div class="flex flex-column mb-3">
                <label for="username" i18n="@@username">Username</label>
                <input pInputText id="username" aria-describedby="username-help" />
            </div>

            <h1>{{ 'teste' | translate }}</h1>

            <div class="flex flex-column mb-3">
                <label for="password" i18n="@@password">Password</label>
                <p>{{"ddssd" }}</p>
                <p-password [inputId]="'password'" [feedback]="false" [toggleMask]="true" 
                styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}"/>
            </div>
    
            <p-button class="flex justify-content-end" label="Login" (onClick)="login()" />
        </div>
    </p-card>
</div>
